<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- 定义服务化接口 -->
  <bean id="RiderOppPatchThriftServicePublisher" class="com.meituan.service.mobile.mtthrift.proxy.ThriftServerPublisher" init-method="publish" destroy-method="destroy">
    <property name="serviceInterface" value="com.sankuai.meituan.banma.rider.opp.client.controller.RiderOppService"/>
    <property name="serviceImpl" ref="RiderOppServiceImpl"/><!-- 指定service接口类 -->
    <property name="selectorThreads" value="4"/> <!-- 可不配置，默认4 -->
    <property name="minWorkerThreads" value="50"/> <!-- 可不配置，默认10 -->
    <property name="port" value="${app.patch.port}"/> <!-- 服务端口号 -->
    <property name="daemon" value="true"/> <!-- 是否后台线程，可不配置，默认值true -->
    <property name="appKey" value="${appKey}"/>  <!-- 设置appkey -->
    <property name="clusterManager" value="OCTO"/> <!-- 设置工作模式 -->
    <property name="shutdownWaitTime" value="15"/>  <!-- 服务端延迟停止时间(秒)即优雅关闭，默认是10 -->
    <property name="maxWorkerThreads" value="2048"/> <!-- 服务端最大线程数 -->
  </bean>

  <bean id="RiderOppServiceImpl" class="com.sankuai.meituan.banma.rider.opp.core.service.RiderOppServiceImpl"/>
</beans>
